<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <p><%= link_to "Alpha Blog", articles_path, class: "btn btn-primary btn-lg" %>  <%= link_to "About", about_path, class: "btn btn-primary btn-lg" %></p>
</div>

